workflows/n8n_league_scraper.json
{
  "name": "League Scraper - PCLL Stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 6AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "league-scrape",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "command": "cd /home/pi/Dugout && git pull origin main",
        "cwd": "/home/pi/Dugout"
      },
      "id": "git-pull",
      "name": "Git Pull Latest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "command": "cd /home/pi/Dugout && python3 tools/league_scraper.py --discover --delay 8 2>&1",
        "cwd": "/home/pi/Dugout"
      },
      "id": "run-league-scraper",
      "name": "Run League Scraper",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 100],
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exit-code",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Exit Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 100]
    },
    {
      "parameters": {
        "command": "cd /home/pi/Dugout && git add data/ && git commit -m 'chore: auto-update league stats [$(date +%Y-%m-%d)]' && git push origin main 2>&1 || echo 'No changes to commit'",
        "cwd": "/home/pi/Dugout"
      },
      "id": "git-commit-push",
      "name": "Commit & Push Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $('Run League Scraper').item.json.stdout }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "result",
              "value": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "={{ $('Run League Scraper').item.json.stderr }}"
            },
            {
              "name": "stdout",
              "value": "={{ $('Run League Scraper').item.json.stdout }}"
            },
            {
              "name": "exitCode",
              "value": "={{ $('Run League Scraper').item.json.exitCode }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "result",
              "value": "failed"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Daily 6AM ET": {
      "main": [
        [{ "node": "Git Pull Latest", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{ "node": "Git Pull Latest", "type": "main", "index": 0 }]
      ]
    },
    "Git Pull Latest": {
      "main": [
        [{ "node": "Run League Scraper", "type": "main", "index": 0 }]
      ]
    },
    "Run League Scraper": {
      "main": [
        [{ "node": "Check Exit Code", "type": "main", "index": 0 }]
      ]
    },
    "Check Exit Code": {
      "main": [
        [{ "node": "Commit & Push Data", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Commit & Push Data": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 600
  }
}
